@include tablet{
    .seccion-inferior{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
}
.entrada-blog{
    margin-bottom: 2rem;

    @include tablet{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }

}
.informacion-meta{
    span{
        color: $amarillo;
    }
}
.texto-entrada{
    a{
        color: #000;
        display: block;
        margin-top: 1rem ;
        
        @include tablet{
            margin-top: 0;
        }
    }
    h4{
        margin: 0;
        line-height: 1.4;

        &::after{
            content: '';
            width: 15rem;
            display: block;
            background-color: $verde;
            margin-top: 1rem;
            height: .5rem;
        }

    }
    span{
        color: $amarillo;
    }
}